@use "../../../styles/utils" as *;
.input, .textarea{
  margin: 1em 0;
  padding: .5em;
  background-color: $light-dark;
  border: 1px solid $input-border;
  border-radius: 4px;
  color: $text-color;
  font-size: $normal;
  outline: none;
  &:disabled{
    color: $grayer-color;
  }
  &:focus{
    border-color: $cta-color;
    transition: border-color .1s;
  }
  &--error{
  border-color: $err-color;
  }
  &--success{
  border-color: $success-color;
  }
  &__error-text{
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: $tiny;
    color: $err-color;
  }
}
.textarea{
  min-height: 20vh;
  resize: none;
}
.label{
  margin: 0;
}