*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;

}
body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #171413;
  scroll-padding-top: 2em;

  color: #fff;
}
::-webkit-scrollbar{
  height: 0px;
  /*background-color: #171413;*/
  display: none;
}
@media (min-width: 992px) {
  ::-webkit-scrollbar {
    display: inline;
    height: 10px;
    background-color: #171413;
  }
  ::-webkit-scrollbar-thumb:vertical{
    background-color: none;
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    background-color: none;
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 15px;
  }
}
