@use '../styles/utils' as *;
.settings{
  padding: 2em 1em;
  h1{
    margin-top: 1.25em;
  }
  &__basic-form{
    display: flex;
    flex-direction: column;
    margin-top: .85em;
    margin-bottom: 1.5em;
    input{
      font-size: $big;
    }
  }
  &__avatar-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      height: 50px;
    }
  }
  &__credentials{
    display: flex;
    flex-direction: column;
    margin-top: .85em;
    input{
      font-size: $big;
    }
    &__change{
      padding: .5em 2em;
      padding-left: 0;
      margin-bottom: 1em;
      width: 30%;
      background: none;
      border: 1px solid transparent;
      color: $cta-color;
      font-size: $tiny;
      text-transform: uppercase;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__deletion{
    &__text{
      line-height: 26px;
    }
    &__warning{
      color: $err-color;
    }
  }
  &__credential-form{
    display: flex;
    flex-direction: column;
    p{
      font-size: $tinier;
      color: $grayer-color;
    }
  }
}
@media (min-width: 992px) {
  .settings{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .3fr 1fr 1fr;
    gap: 4em;
    h1{
      grid-area: 1 / 1 / 2 / 2;
    }
    &__basic{
      grid-area: 2 / 1 / 4 / 2;
    }
    &__credentials{
      grid-area: 2 / 2 / 4 / 3;
    }
    &__basic, &__credentials{

    }
    &__deletion{
      grid-area: 4 / 1 / 5 / 3;
    }
  }
}