.cart{
  padding: 2em 1em;
  position: relative;

  z-index: 0;
  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__padding{
    padding-bottom: 19em;
  }
}
@media (min-width: 992px) {
    .cart{
      display: flex;
      max-width: 1440px;
      &__items{
        margin-top: 4em;
        width: 50%;
      }
      h1{
        position: absolute;
      }

    }
}