@use "../styles/utils" as *;
.image-box{
  position: relative;
  left: 50%;
  margin-top: 1em;
  width: 250px;
  height: 250px;
  transform: translateX(-50%);
  img{
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
}
.main__box{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(2, .7fr);
  place-content: flex-start;
  align-items: center;
  min-height: 15vh;
  padding: 1em;
  &__title{
    width: 12ch;
    font-size: calc($big + .8rem);
    font-weight: $bold;
  }
  &__price{
    font-size: calc($big + .8rem);
    font-family: $secondary;
    font-weight: $bold;
    span{
      color: $cta-color;
    }
  }
  &__stock{
    font-family: $secondary;
    text-align: center;
    color: $cta-color;
  }
}
.admin-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 10px;
  button:nth-child(1){
    grid-area: 1 / 1 / 2 / 3;
  }
  button:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
  }
  button:nth-child(3){
    grid-area: 2 / 2 / 3 / 3;
  }
}
.action-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc-box{
  margin-top: 1em;
  p{
    line-height: 26px;
  }
}
.information-box{
  margin-top: 1em;
  ul{
    list-style-type: none;
    li{
      position: relative;
      margin-top: .5em;
      font-size: calc($normal + .2rem);
      span{
        color: $cta-color;
        margin-right: .5em;
      }
    }
  }
}
.section{
  padding-left: 1em;
  padding-right: 1em;
  &__padding{
    margin-bottom: calc(4em + env(safe-area-inset-bottom));
  }
}
.modal__sub{
  font-size: $tiny;
  color: $grayish-color;
}