@use "../styles/utils" as *;
.image-box{
  position: relative;
  left: 50%;
  margin-top: 1em;
  width: 250px;
  height: 250px;
  transform: translateX(-50%);
  img{
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
}
.main__box{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(2, .7fr);
  place-content: flex-start;
  align-items: center;
  min-height: 15vh;
  padding: 1em;
  &__title{
    width: 12ch;
    font-size: calc($big + .8rem);
    font-weight: $bold;
  }
  &__price{
    font-size: calc($big + .8rem);
    font-family: $secondary;
    font-weight: $bold;
    span{
      color: $cta-color;
    }
  }
  &__stock{
    font-family: $secondary;
    text-align: center;
    color: $cta-color;
  }
}
.action-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section{
  padding-left: 1em;
  padding-right: 1em;
}