@use "../styles/utils" as *;
.shipment{
  padding: 2em 1em;
  h1{
    margin-top: 1.5em;
  }
  &__inputs{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    input{
      font-size: $big;
    }
  }
}
.radio{
  input[type='radio']{
    //appearance: none;
  }
  &__item input[type='radio']:checked {
    background-color: #18925F;
  }
  &__item{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #D17842;
    &__label{
      display: inline-block;
      width: inherit;
      height: inherit;
    }
  }
}