
$dark-color: #171413;
$light-dark: #292525;
$text-color: #fff;
$cta-color: #D17842;
$sca: #ED8C51;
$sca-text: #704124;
$success-color: #18925F;
$err-color: #EB3C3C;
$err-color-dark: #CD2323;
$err-des: #F49494;
$grayish-color: #D9D9D9;