@use '../../styles/utils' as *;
.promo{

  button{
    margin-left: 1em;
    font-size: $tinier;
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  .promo{
    position: fixed;
    top: 50%;
    right: 20%;
    transform: translateX(50%);
    div{
      bottom: -200%;
    }
  }
}