@use "../../styles/utils" as *;
.backbtn{
  position: fixed;
  top: 4%;
  left: 5%;
  z-index: 100;
  padding: 1em;
  background: none;
  border: 1px solid transparent;

  /* From https://css.glass */
  .icon{
    color: $cta-color;
  }
}
.glass{
  background: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
@media (min-width: 576px) {
  .backbtn{
    left: 3%;
  }

}
@media (min-width: 992px) {
  .backbtn{
    display: none;
  }

}