@use '../../styles/utils' as *;
.button{
  margin: 1em 0;
  padding: 1em 2em;
  background-color: $cta-color;
  border-radius: 8px;
  color: $text-color;
  font-size: $normal;
  font-weight: $medium;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color .3s;
  &--danger{
    background-color: $err-color;

  }
  &:disabled{
    background-color: $grayish-color;
    color: $grayer-color;
    cursor: not-allowed;
  }
  &:disabled:hover{
    background-color: #b4b1b1;
  }
  &:hover{
    background-color: #e08653;
  }
  &--outline{
    background-color: $dark-color;
    border: 1px solid $cta-color;
    &--danger{
      border-color: $err-color;
      &:hover{
        background-color: $err-color;
      }
    }
    &:disabled{
      background-color: $dark-color;
      border: 1px solid $grayish-color;
      color: $grayish-color;
    }
    &:disabled:hover{
      background-color: $dark-color;
    }
    &:hover{
      background-color: $cta-color;
    }
  }

}