.container{
  padding: 1em 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33%;
  grid-column-gap: 30px;
  overflow-x: auto;
  overflow-behavior-inline: contain;
  text-decoration: none;
}
.link{
  color: #fff;
  text-decoration: none;

}
.snaps-inline{
  scroll-snap-type: inline mandatory;
  & > *{
    scroll-snap-align: start;
  }
}