@use "../../styles/utils" as *;
.sca__box{
  padding: .75em .75em;
  margin: .5em;
  display: flex;
  justify-content: center;
  background-color: $sca;
  color: $sca-text;
  border-radius: 8px;
  span{
    font-family: 'Roboto';
    font-weight: $bold;
  }
  span:last-child{
    margin-left: .75em;
  }
}