@use '../../styles/utils' as *;
.bottom-bar{
  width: 100%;
  height: calc(55px + env(safe-area-inset-bottom));
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-color;
  padding-bottom: calc(env(safe-area-inset-bottom));
  div{
    .icon__btn{
      padding: 1em;
      background: none;
      border: 1px solid transparent;
      outline: none;
      &:focus{
        border: 1px solid $cta-color;
        border-radius: 8px;
      }
    }
    .icon--highlight{
      color: $cta-color;
    }
    .avatar--highlight{
      border: 1px solid $cta-color;
      border-radius: 50%;
    }
  }
}
@media (min-width: 992px) {
  .bottom-bar{
    display: none;
  }
}