@use '../../styles/utils' as *;
.nav{
  display: none;
  .company{
    flex-grow: 3;
    margin-left: 2em;
    font-size: $big;
  }
  .links{
    flex-grow: .1;
    .link{
      margin: 0 1em;
      color: $text-color;
      text-decoration: none;
      transition: color .3s;
      &:hover{
        color: $cta-color;
      }
      span{
        margin-left: .5em;
        font-size: $big;
      }
    }
  }
}
@media (min-width: 992px) {
  .nav{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: $light-dark;
  }


}